$primary-color: #63c19d;
$secondary-color: #282f35;
$tertiary-color: gold;

$white: #fff;
$black: #353738;

$grey: #8c8e90;
$grey-light: #f7f7f7; 
$grey-dark: #d3d6d9;

$twitter-color: #67d7f4;
$facebook-color: #4080c5;
$pinterest-color: #ff5c58;

$mobile: 768px;
$desktop: 1024px;