html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Lato', sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
}

input, button {
  font-family: inherit;
}

h1, h2, h3, h4, p, figure {
  padding: 0;
  margin: 0;
}

.about {
  background: #f7f7f7;
  padding: 11rem 0;
  grid-column: 1 / -1;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(6, 1fr);
}

@media (max-width: 768px) {
  .about {
    padding: 3rem 0;
  }
}

.about__inner {
  grid-column: 2 / 6;
}

@media (max-width: 768px) {
  .about__inner {
    grid-column: 1 / -1;
  }
}

.about h2 {
  margin: 3rem 0;
  letter-spacing: .3rem;
  font-size: 1.8rem;
}

.about p {
  line-height: 3rem;
  font-size: 1.8rem;
  color: #8c8e90;
}

.work {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 200px);
}

@media (max-width: 768px) {
  .work {
    display: block;
  }
}

.work--img {
  /* general img style for all work images for prevent code duplication*/
  width: 100%;
  height: 100%;
  display: block;
}

.work__content {
  position: relative;
  padding: 7rem;
}

@media (max-width: 768px) {
  .work__content {
    padding: 3rem;
  }
}

.work__content:after {
  content: "";
  position: absolute;
  bottom: -38px;
  z-index: 2;
  left: calc(50% - 2.5rem);
  border-top: 2.5rem solid #fff;
  border-right: 2.5rem  solid transparent;
  border-left: 2.5rem  solid transparent;
  border-bottom: 2.5rem  solid transparent;
}

.work__content--icon {
  margin: 0 auto;
  display: block;
}

.work__content--title {
  text-align: center;
  margin: 3rem 0 2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.work__content--text {
  line-height: 170%;
  text-align: justify;
  color: #8c8e90;
}

.work__content--text:after {
  content: "";
  height: 1px;
  width: 5rem;
  background: #8c8e90;
  display: block;
  margin: 3rem auto 0;
}

.work__hover {
  overflow: hidden;
  position: relative;
}

.work__hover:hover .work__hover--img {
  transform: translateY(-1rem) scale(1.1);
  filter: brightness(80%);
}

.work__hover--logo {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.work__hover--img {
  transition: all .5s;
}

.work--1 {
  grid-column: 1 / 5;
  grid-row: 1 / span 3;
}

.work--2 {
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
}

.work--3 {
  grid-column: 5 / span 2;
  grid-row: 3 / 4;
}

.work--4 {
  grid-row: 4 / span 2;
  grid-column: 1 / span 2;
}

.work--5 {
  grid-column: 1 / span 2;
  grid-row: 6 / 7;
}

.work--6 {
  grid-column: 3 / span 4;
  grid-row: 4 / span 3;
}

.work--7 {
  grid-column: 1 / span 2;
  grid-row: 7 / span 3;
}

.work--8 {
  grid-row: 7 / span 2;
  grid-column: 3 / span 2;
}

.work--9 {
  grid-column: 3 / span 2;
  grid-row: 9 / -1;
}

.work--10 {
  grid-column: 5 / span 2;
  grid-row: 7 / span 3;
}

.newsletter {
  grid-column: 3 / span 2;
  padding: 11rem 0;
  text-align: center;
}

@media (max-width: 768px) {
  .newsletter {
    grid-column: 1 / -1;
    padding: 3rem;
  }
}

.newsletter__title {
  color: #8c8e90;
  font-style: italic;
  font-weight: 100;
  margin: 3rem 0;
}

.subscribe {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 10px;
}

.subscribe__input {
  padding: 2rem;
  font-size: 2rem;
  font-style: italic;
  cursor: pointer;
  border: 1px solid #d3d6d9;
}

.subscribe__input::placeholder {
  color: #d3d6d9;
}

.subscribe__btn {
  background: #63c19d;
  color: #fff;
  padding: 2rem 4.5rem;
  border: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: normal;
  transition: all .5s;
  cursor: pointer;
}

.subscribe__btn:hover {
  background-color: #45ac85;
}

.shop {
  grid-column: 1 / -1;
}

.products {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  grid-template-rows: repeat(2, minmax(150px, 1fr));
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  }
}

.products__item {
  position: relative;
  display: block;
}

.products__item--1 {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.products__item--2 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.products__item--3, .products__item--4 {
  grid-row: span 2;
}

.products__item--5, .products__item--6 {
  grid-column: span 2;
}

.products__item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.products__item:hover figcaption {
  opacity: 1;
}

.products__item:hover figcaption img {
  opacity: 1;
  transform: translateY(0);
}

.products__item:hover span {
  opacity: 1;
  transform: translateY(0);
}

.products__item figcaption {
  opacity: 0;
  background: rgba(99, 193, 157, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.products__item figcaption img {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.3s;
}

.products__item figcaption span {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #fff;
  margin-top: 1rem;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s;
}

.products__img {
  display: block;
  width: 100%;
  height: 100%;
}

.discover {
  background: #282f35;
  padding: 8rem 3rem;
  text-align: center;
}

.discover__btn {
  border: 1px solid #8c8e90;
  color: #fff;
  text-transform: uppercase;
  padding: 1.5rem 6rem;
  background: transparent;
  font-size: 1.4rem;
  transition: all .5s;
  cursor: pointer;
  letter-spacing: .2rem;
}

.discover__btn:hover {
  border: 1px solid gold;
}

.header {
  background: url("../images/header.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  grid-column: 1 / -1;
}

@media (max-width: 768px) {
  .header__logo {
    width: 80%;
  }
}

.navigation {
  display: flex;
  align-items: center;
  margin: 3rem auto;
  width: 100%;
  justify-content: center;
}

.navigation__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #353738;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  transition: all 0.3s;
  margin: 0 2rem;
}

@media (max-width: 768px) {
  .navigation__link {
    margin: 0 1rem;
  }
}

.navigation__link:hover {
  color: #63c19d;
}

.navigation__link:nth-child(1)::after, .navigation__link:nth-child(4)::after {
  content: ".";
  margin-left: 4rem;
}

@media (max-width: 768px) {
  .navigation__link:nth-child(1)::after, .navigation__link:nth-child(4)::after {
    margin-left: 1rem;
  }
}

.footer {
  grid-column: 1 / -1;
  background: #f7f7f7;
  padding: 8rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  color: #8c8e90;
}

.footer a {
  color: #8c8e90;
}

.footer__socials {
  text-align: center;
}

.footer__socials svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

.footer__socials--icon {
  border-radius: 50%;
  width: 35px;
  height: 34px;
  padding: 5px;
  margin: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: background-color 0.3s;
}

.footer__socials--twitter {
  background-color: #67d7f4;
}

.footer__socials--twitter:hover {
  background-color: #11b9e4;
}

.footer__socials--facebook {
  background-color: #4080c5;
}

.footer__socials--facebook:hover {
  background-color: #254e7a;
}

.footer__socials--pinterest {
  background-color: #ff5c58;
}

.footer__socials--pinterest:hover {
  background-color: #f10600;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.recommendation {
  background: #f7f7f7;
}
